# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=aguiabranca
POSTGRES_USER=aguiabranca
POSTGRES_PASSWORD=aguiabranca
POSTGRES_PORT=5432

# Configurações da Aplicação Spring Boot
APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=M1rfyWXHqMGrfkfiGbzRCU4bz8zBY4f9VcS9VyO5yfRFijQG2t9AVlGqGcLxaxJr
