# Configuracoes do Banco de Dados MongoDB
MONGO_DB=aguiabranca
MONGO_PORT=27017
MONGODB_URI=mongodb://localhost:27017/aguiabranca

# Configuracoes da Aplicacao Spring Boot
APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=segredo-de-dev-com-mais-de-32-bytes-para-hs256-autenticacao
